<p>In ALCYON (Algorithms for Combinatorics, Geometry, Optimization and Number Theory) we work on Symbolic Computation. 
Both on the mathematics to improve algorithms and on the efficient (high performance) implementations of algorithms 
in order to push mathematics further.
Symbolic Computation lies in the intersection of mathematics and computer science. 
This means that it is both 100% mathematics and 100% computer science.

<br>
If you want to join us, <a href="https://forms.gle/FrDxYuaX18j63T1r7">fill in this form</a>.


<br>
ALCYON participates in the  <a href="https://alcyon-lab.gitlab.io/lab/scim.html">Symbolic Computation Istanbul Meetings</a>

<br>
If you are interested to work on a project (graduation project, master thesis, PhD, research project),
you can check <a href="https://alcyon-lab.gitlab.io/lab/theses.html">possible thesis topics</a>.
</p>
