<table class="pubtable">
  <tr class="pubentry">
    <td><a href="{{site.baseurl}}/">Home</a></td>
    <td><a href="{{site.baseurl}}/#members">Members</a></td>
    <td><a href="{{site.baseurl}}/#projects">Projects</a></td>
    <td><a href="{{site.baseurl}}/#publications">Publications</a></td>
    <td><a href="{{site.baseurl}}/scim.html">SCIM</a></td>
    <td><a href="{{site.baseurl}}/hackathon.html">Hackathon</a></td>
    <td><a href="{{site.baseurl}}/alumni.html">Alumni</a></td>
  </tr>
</table>
